.overviews{
    display: flex;
    gap: 20px;
    flex: wrap;
    
}

.over_title{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.over_t{
    font-size: 20px;
    color: #57606a;
}

.over_custom{
    font-size: 13px;
    color: #57606a;
}